<!-- Main Container -->
<div class="container">

    <!-- Heading -->
    <h1>{{title}}</h1>

    <!-- Search Heading -->
    <h3>🔍 Search Coffee</h3>

    <!-- Search Box -->
    <input
        type="text"
        placeholder="Enter Coffee Name"
        [(ngModel)]="searchCoffee">
        <!-- Search Result Count -->

<div class="matches" *ngIf="searchCoffee!=''">

    🔍 Matches Found :
    <b>{{filteredCoffees.length}}</b>

</div>

    <!-- Coffee Cards -->
    <div class="card" *ngFor="let coffee of filteredCoffees">

        <!-- Coffee Name -->
        <h2>
            ☕ {{coffee.name}}
        </h2>

        <!-- Coffee Price -->
        <h3>
            ₹ {{coffee.price}}
        </h3>

        <!-- Bestseller -->
        <p *ngIf="coffee.status=='Bestseller'">
            ⭐ Bestseller
        </p>

        <!-- Hot Selling -->
        <p *ngIf="coffee.status=='Hot Selling'">
            🔥 Hot Selling
        </p>

        <!-- Available -->
        <p *ngIf="coffee.status=='Available'">
            💚 Available
        </p>

        <!-- Order Button -->
        <button (click)="orderCoffee(coffee.name)">
            Order Now
        </button>

    </div>

    <!-- Show when coffee is not available -->
    <div class="not-found" *ngIf="!coffeeFound">

        <h2>
            ☕ Coffee Not Available
        </h2>

        <p>

            Sorry! We couldn't find

            <b>"{{searchCoffee}}"</b>

            in today's menu.

        </p>

        <p>

            🤎 Please try another delicious coffee from our menu.

        </p>

    </div>

    <!-- Total Coffees -->
    <h3>

        ☕ Total Coffees Available : {{coffees.length}}

    </h3>

</div>